
  <div class="container-fluid">
  <h2>Starters</h2>
  <hr>
<tbody>

    <section class="gallery">
        <div class="item">
        <img src="../../assets/images/paneer.jpg" width="300" height="300">
        <h4>Paneer Manchurian</h4>
       <h4>Price : Rs.454</h4> 
        <button onclick="window.location.href='/confirm-component'" type="submit" class="btn1"  >Add</button>
 
        </div>
      
        <div class="item">
            <img src="../../assets/images/gobi.jpg" width="300" height="300">
            <h4>Gobi Manchurian</h4>
            <h4>Price : Rs.354</h4> 
            <button onclick="window.location.href='/confirm-component'" type="submit" class="btn1"  >Add</button>
     
            </div>
            <div class="item">
                <img src="../../assets/images/babycorn.jpg" width="300" height="300">
                <h4>BabyCorn Manchurian</h4>
                <h4>Price : Rs.400</h4> 
                <button onclick="window.location.href='/confirm-component'" type="submit" class="btn1"  >Add</button>
                </div>

                <div class="item">
                    <img src="../../assets/images/mushroom.jpg" width="300" height="300">
                    <h4>Mushroom Manchurian</h4>
                    <h4>Price : Rs.370</h4> 
                    <button onclick="window.location.href='/confirm-component'" type="submit" class="btn1"  >Add</button>
                    </div>
                </section> 
                </tbody>
                <tbody>
                <section class="gallery">
<h2>Biriyanis</h2>
<br>

<div class="item">
    <img src="../../assets/images/chicken b.jpg" width="300" height="300">
    <h4>Chicken Biriyani</h4>
   <h4>Price : Rs.454</h4> 
    <button onclick="window.location.href='/confirm-component'" type="submit" class="btn1"  >Add</button>

    </div>
  
    <div class="item">
        <img src="../../assets/images/mutton-biryani.jpg" width="300" height="300">
        <h4>Mutton Biriyani</h4>
        <h4>Price : Rs.554</h4> 
        <button onclick="window.location.href='/confirm-component'" type="submit" class="btn1"  >Add</button>
 
        </div>
        <div class="item">
            <img src="../../assets/images/veg b.jpg" width="300" height="300">
            <h4>Veg Biriyani</h4>
            <h4>Price : Rs.400</h4> 
            <button onclick="window.location.href='/confirm-component'" type="submit" class="btn1"  >Add</button>
            </div>

            <div class="item">
                <img src="../../assets/images/egg b.jpg" width="300" height="300">
                <h4>Egg Biriyani</h4>
                <h4>Price : Rs.370</h4> 
                <button onclick="window.location.href='/confirm-component'" type="submit" class="btn1"  >Add</button>
                </div>
            </section>
        </tbody>
        <tbody>
            <section class="gallery">
<h2>Beverages</h2>
<br>
<div class="item">
    <img src="../../assets/images/blueberry.jpg" width="300" height="300">
    <h4>Blueberry</h4>
   <h4>Price : Rs.189</h4> 
    <button onclick="window.location.href='/confirm-component'" type="submit" class="btn1"  >Add</button>

    </div>
  
    <div class="item">
        <img src="../../assets/images/orange.jpg" width="300" height="300">
        <h4>Orange</h4>
        <h4>Price : Rs.154</h4> 
        <button onclick="window.location.href='/confirm-component'" type="submit" class="btn1"  >Add</button>
 
        </div>
        <div class="item">
            <img src="../../assets/images/watermelon.jpg" width="300" height="300">
            <h4>Watermelon</h4>
            <h4>Price : Rs.200</h4> 
            <button onclick="window.location.href='/confirm-component'" type="submit" class="btn1"  >Add</button>
            </div>

            <div class="item">
                <img src="../../assets/images/greenapple.jpg" width="300" height="300">
                <h4>Greenapple</h4>
                <h4>Price : Rs.170</h4> 
                <button onclick="window.location.href='/confirm-component'" type="submit" class="btn1"  >Add</button>
                </div>



<br><hr>
</section>

            
       

        </tbody>
        
