

  <div class="main">
    
          <div class="header">
            <nav >
    <div class="logo">
    
      <a href="">AFood</a>
    </div>
    <ul>
      <li><a routerLink="/about-component">ABOUT US</a></li> 
      <li><a routerLink="/contact-component">CONTACT US</a></li> 
             <li><a routerLink="/login-component">LOGIN</a></li> 
              <li><a routerLink="/register-component">REGISTER</a></li>
               <li><a routerLink="/menu-component">MENU</a> </li> 
               <li><a routerLink="/confirm-component">CONFIRM ORDER</a> </li>
               <li><a routerLink="/logout-component">LOGOUT</a> </li>

              
    </ul>
          </nav>
      <div container="fluid">
          <div class="overlay">
               <div class="content">

                        <h1>
                         WELCOME TO AFOOD
                        </h1>
              <p>

                Want to get food delivered to you?
                Place Your Order Now.

            </p>


            <button onclick="window.location.href='/menu-component'">ORDER NOW</button>
          </div>     
</div>
</div>
</div>
</div>


<router-outlet></router-outlet>
