
  <div class="container-fluid">
      <div align="center">
    <h2>Do You Want To Confirm Your Order?</h2>
    

  <tbody>
  
     
          <div class="item">
        
          <button  onclick="window.location.href='/insert-component'" type="submit" class="btn1"  >Place order</button>
   
          </div><br><br>

          <div class="item">
        
            <button  type="submit" class="btn1" onclick="window.location.href='/update-component'" >Update order</button>
     
            </div><br><br>
            
          <div class="item">
        
            <button onclick="window.location.href='/delete-component'" type="submit" class="btn1"  >Delete order</button>
     
            </div><br><br>
            
          <div class="item">
        
            <button onclick="window.location.href='/fetch-component'"  type="submit" class="btn1"  >View order</button>
     
            </div><br><br>

</tbody>
</div>